.footer {
    border-top: 3px solid red;
    margin: auto;
    background-color: #fff;
}
 /* top-footer */
.top-footer{
    height: 80px;
    width: 100%;
    background: #fafbfd;
    border-bottom: 2px solid #e8e8e8
}
.row {
    width: 1200px;
    margin: auto;
}

.con-top { 
    border-right: 2px solid #e8e8e8;
    height: 80px;
    padding-top: 15px;
}
#con-top{
    border-left: 2px solid #e8e8e8;
}
.con-top img {
        margin-top: 5px;
        margin-right: 10px;
        width: 40px;
        height: 40px;
}
.con-top span {
    font-weight: bold;
}
    .frm-content {
        font-size: 12px;
    }    
    .frm-content > .add-email {
        padding-left: 15px;
        width: 330px;
        border: 1px solid gainsboro;
    }
        .input-search{
            padding-left: 10px;
            padding-right: 10px;
            width: 170px;
            border: none;
            color:gray;
            height: 35px;
        }
        .btn-content{
            float: right;
            border: none;
            font-weight: bold;
            background-color: red;
            width: 80px;
            height: 35px;
            color: aliceblue;
        }

/* main-footer */
.main-footer {
    width: 1200px;
    margin: auto;
}
.row-main-footer{
    display:flex;
    background: rgb(252, 251, 251);
}
.row-main-footer .footer-content-section{
    flex:1;
    padding:0 0.5% 1%;
    background: white;
}
    .list > h4 {
        font-weight: bold;
        font-size: 15px;
        padding-top:10px;
        padding-bottom: 5px;
    }
    .list > ul > li{
        list-style: none;
        padding-bottom: 5px;
        font-size: 14px;
        line-height: 1.5;
    }
    ul{
        padding: 0;
        margin: 0;
    }

    .list > pan:hover{
        color: red;
    }

    a{
        font-size: 13px;
        color: gray;
    }

    li > a:hover{
        color: red;
    }

    a > img{
        margin: 2px;
        width : 40px;
        height: 40px;
    }

    p > img{
        width :230px;
        height: 90px;
    }
    
    .con-cell{
        width: 100%;
        height: 240px;
        margin: auto;
    }
    
    .con-cell-left{
        width: 20%;
        height: 100px;
        float: left;
        margin-left: 100px;
        text-align: center;
    }
            
    /* center-main-footer */
    .name-col > p{
        font-weight: bold; 
        font-size: 13px;
        color: #292a2b;
    }
        .img-left > img{
            width : 50px;
            height: 50px;
        }
        .img-left > span{
            font-size: 12px;
        }
    
    .imgright > img{
        width : 750px;
    }

    .con-cell-left-one{
        width: 25%;
        height: 100px;
        float: left;
    }
        
    .con-cell-left-two{
        width: 25%;
        height: 100%;
        float: left;
    }

    .con-cell-left-there{
        width: 25%;
        height: 100%;
        float: left;
    }
    .con-cell-left-four{
        width: 25%;
        height: 100%;
        float: left;
    }

/* footer-ad-words-block */
.footer-ad-words-block{
    width: 100%;
    background: #fafbfd;
    border-top: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
}
    .footer-container-words-block {
        width: 1200px;
        margin: auto;
        text-align: justify;
        font-size: 12px;
    }

/* footer-bottom-block */
.footer-bottom-block {
    width: 1200px;
    background: #fff;
    margin: auto;
}
.footer-company{
    width: 50%;
    float: left;
}
    .footer-company > h4 {
        color: #666;
    }
    .footer-company > p{
        font-size: 12px;
        color: #666;
    }

.footer-address {
    width: 50%;
    float: right;
    padding-top: 40px;
}
    .footer-address-section > p{
        font-size: 11px;
        text-align: right;
        line-height: 1;
        color: #666;
    }
    .footer-address-section > p > span {
        font-weight: bold;
    }