<div class="footer">
        <!-- top footer -->
        <div class="top-footer">
        <div class="row">
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 con-top" id="con-top">
              <a>
                <img src="./assets/img/icon/free_ship.png">
                <span>MIỄN PHÍ VẬN CHUYỂN</span>
              </a>
            </div>
      
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 con-top">
              <a>
                <img src="./assets/img/icon/support247.png">
                <span>HỖ TRỢ 24/7</span>
              </a>
            </div>
      
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 con-top">
              <a>
                <img src="./assets/img/icon/security_pay.png">
                <span>THANH TOÁN BẢO MẬT</span>
              </a>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="con-top">
              <div class="frm-content">
                <span>Đăng ký nhận chương trình khuyến mãi mỗi ngày!</span>
                <div class="add-email"> 
                  <i class="fas fa-envelope"></i> <input class="input-search" placeholder="Nhập địa chỉ email của bạn">
                  <button class="btn-content">ĐĂNG KÝ</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <!-- /top footer -->
      
        <!-- main-foter -->
        <div class="main-footer">
          <div class="row-main-footer">
            <div class="footer-content-section">
                <div class="list">
                  <h4>Hỗ trợ khách hàng</h4>
                  <ul>
                    <li><a href="#">Thẻ ưu đãi</a></li>
                    <li><a href="#">Phiếu mua hàng</a></li>
                    <li><a href="#">Trung tâm bảo hành</a></li>
                    <li><a href="#">Thanh toán và giao hàng</a></li>
                    <li><a href="#">Dịch vụ sữa chữa và bảo trì</a></li>
                  </ul>
                </div>
            </div>
      
            <div class="footer-content-section">
              <div class="list">
                <h4>Mua hàng và Bảo hành</h4>
                <ul>
                  <li><a href="#">Quy định chung</a></li>
                  <li><a href="#">Bảo mật Thông tin</a></li>
                  <li><a href="#">Vận chuyển, Giao nhận</a></li>
                  <li><a href="#">Bảo hành</a></li>
                  <li><a href="#">Đỗi trả và hoàn tiền</a></li>
                  <li><a href="#">Quy định giá cả và hình thức thanh toán</a></li>
                </ul>
              </div>
            </div>
      
            <div class="footer-content-section">
              <div class="list">
                <h4>Thông tin Phong Vũ</h4>
                <ul>
                  <li><a href="#">Thông tin liên hệ</a></li>
                  <li><a href="#">Hệ thống Showroom</a></li>
                  <li><a href="#">Giới thiệu Phong Vũ</a></li>
                  <li><a href="#">Hỏi đáp</a></li>
                  <li><a href="#">Tin công nghệ</a></li>
                  <li><a href="#">Tuyển dụng</a></li>
                </ul>
              </div>
            </div>
          
            <div class="footer-content-section">
              <div class="list">
                <h4>Cộng đồng Phong Vũ</h4>
                <div>
                  <a><img src="./assets/img/icon/facebook.png">
                    <span>Phong Vũ Việt Nam</span>
                  </a>
                </div>
            
                <div>
                  <a><img src="./assets/img/icon/youtube.png">
                    <span>Phong Vũ Media</span>
                  </a>
                </div>
            
                <div>
                  <a><img src="./assets/img/icon/group.png">
                    <span>Phong Vũ Hội</span>
                  </a>
                </div>
            
                <div>
                  <a><img src="./assets/img/icon/icon_phone.png">
                    <span style="color: red; font-weight:bold;">1900 1835</span>
                  </a>
                </div>
              </div>
            </div>
          
            <div class="footer-content-section">
              <div class="list">
                <div icon-bv-foot>
                  <p><img src="./assets/img/icon/bo_cong_thuong.png"></p>
            
                  <h4 style="font-size: 13px;">Hỗ trợ Khách hàng: <br><span>cskh@phongvu.com</span></h4>
            
                  <h4 style="font-size: 13px;">Liên hệ Báo giá: <br><span>baogia@phongvu.com</span></h4>
            
                  <h4 style="font-size: 13px;">Hợp tác Phát triển: <br><span>hoptac@phongvu.com</span></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row center-main-footer">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="name-col">
                    <p>Phương thức thanh toán</p>
                </div>
                <div class="con-cell-left-one">
                    <a class="img-left">
                        <img src="./assets/img/icon/check_qr.png">
                        <br>
                        <span>QR Code</span>
                    </a>
                </div>
                <div class="con-cell-left-two">
                    <a class="img-left">
                        <img src="./assets/img/icon/check_cash.png">
                        <br>
                        <span>Tiền mặt</span>
                    </a>
                </div>
                <div class="con-cell-left-there">
                    <a class="img-left">
                        <img src="./assets/img/icon/tra_gop.png">
                        <br>
                        <span>Trả góp</span>
                    </a>
                </div>
                <div class="con-cell-left-four">
                    <a class="img-left">
                        <img src="./assets/img/icon/check_banking.png">
                        <br>
                        <span>Internet Banking</span>
                    </a>
                </div>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="name-col">
                    <p>Danh sách các ngân hàng thanh toán Online</p>
                </div>
                <a class="imgright">
                    <img src="./assets/img/icon/list_bank.jpg">
                </a>
            </div>
          </div>
        <div class="footer-ad-words-block">
          <div class="footer-container-words-block">
            <span>Thiết bị thông minh</span> /
            <span>Tivi - Smart TV</span> /
            <span>Tivi Asanzo</span> /
            <span>Tivi khác</span> /
            <span>Tivi màn hình cong</span> /
            <span>Tivi 4K UHD</span> /
            <span>Tivi QLED/OLED</span> /
            <span>Tivi Smart</span> /
            <span>Internet TV</span> /
            <span>Tivi LED</span> /
            <span>Tivi 32 inch</span> /
            <span>Tivi 40 inch</span> /
            <span>Tivi 50 inch</span> /
            <span>Tivi 55 inch</span> /
            <span>Tivi Box</span> /
            <span>Tivi bán chạy</span> /
            <span>Thiết bị thông minh</span> /
            <span>Chăm sóc sức khỏe</span> /
            <span>An ninh</span> /
            <span>Camera thông minh </span> /
            <span>Gia dụng</span> /
            <span>Máy lọc không khí</span> /
            <span>Máy hút bụi</span> /
            <span>Bàn chải điện</span> /
            <span>Ánh sáng</span> /
            <span>Đèn cảm ứng</span> /
            <span>Giải trí</span> /
            <span>Tivi TCL</span> /
            <span>Tivi Sharp</span> /
            <span>Tivi LG</span> /
            <span>Tivi LG 32 inch</span> /
            <span>Tivi LG 43 inch</span> /
            <span>Tivi LG 49 inch</span> /
            <span>Tivi LG 55 inch</span> /
            <span>Tivi Panasonic</span> /
            <span>Tivi Samsung</span> /
            <span>Tivi Samsung 32 inch</span> /
            <span>Tivi Samsung 40 inch</span> /
            <span>Tivi Samsung 49 inch</span> /
            <span>Tivi Samsung 43 inch</span> /
            <span>Tivi Samsung 55 inch</span> /
            <span>Tivi Sony</span> /
            <span>Tivi Sony 32 inch</span> /
            <span>Tivi Sony 40 inch</span> /
            <span>Tivi Sony 43 inch</span> /
            <span>Tivi Sony 49 inch</span> /
            <span>Tivi Sony 55 inch</span> /
            <span>Tivi Sony 4K</span> /
            <span>Tivi Toshiba</span> /
            <span>PC và linh kiện</span> /
            <span>Linh Kiện Máy Tính</span> /
            <span>Nguồn - PSU</span> /
            <span>ACBEL</span> /
            <span>COOLER MASTER</span> /
            <span>CORSAIR</span> /
            <span>FSP</span> /
            <span>GOLDEN FIELD</span> /
            <span>SEASONIC</span> /
            <span>RAM</span> /
            <span>RAM 16GB</span> /
            <span>RAM G.SKILL</span> /
            <span>RAM CORSAIR</span> /
            <span>RAM KINGSTON</span> /
            <span>RAM KINGMAX</span> /
            <span>RAM ADATA</span> /
            <span>RAM 4GB</span> /
            <span>RAM 8GB</span> /
            <span>RAM DDR4</span> /
            <span>RAM DDR3</span> /
            <span>Case thùng máy</span> /
            <span>Case Ximatek</span> /
            <span>Full Tower</span> /
            <span>Mid Tower</span> /
            <span>Case CORSAIR</span> /
            <span>Case SAMA</span> /
            <span>Case SEGOTEP</span> /
            <span>Case COOLER MASTER</span> /
            <span>Case THERMALTAKE</span> /
            <span>AIGO</span> /
            <span>Ổ Cứng</span> /
            <span>Ổ cứng Plextor</span> /
            <span>Ổ cứng Intel Optane</span> /
            <span>Ổ Cứng HDD</span> /
            <span>Ổ Cứng SSD</span> /
            <span>SSD 120GB, 128 GB</span> /
            <span>SSD 240, 250, 256 GB</span> /
            <span>SSD 480, 500, 512 GB</span> /
            <span>SSD M.2</span> /
            <span>SSD 1TB 2TB</span> /
            <span>Ổ Cứng Gắn Ngoài</span> /
            <span>Kết nối Ethernet, Wireless</span> /
            <span>Phụ Kiện Ổ Cứng</span> /
            <span>Bo mạch chủ</span> /
            <span>Main MSI</span> /
            <span>Main ASUS</span> /
            <span>Main GIGABYTE</span> /
            <span>ASROCK</span> /
            <span>CPU - Bộ vi xử lý</span> /
            <span>CPU Intel</span> /
            <span>Intel Xeon</span> /
            <span>CPU AMD</span> /
            <span>AMD Athlon</span> /
            <span>Intel Pentium</span> /
            <span>Intel Core i3</span> /
            <span>Intel Core i5</span> /
            <span>Intel Core i7</span> /
            <span>Intel Core i9</span> /
            <span>AMD Ryzen 3</span> /
            <span>AMD Ryzen 5</span> /
            <span>AMD Ryzen 7</span> /
            <span>Card Màn Hình - VGA</span> /
            <span>Geforce GT 1030</span> /
            <span>Geforce GTX 1050</span> /
            <span>Geforce GTX 1050, 1050Ti</span> /
            <span>Geforce GTX 1060</span> /
            <span>Geforce GTX 1070, 1070Ti</span> /
            <span>Geforce GTX 1080, 1080Ti</span> /
            <span>RTX 2080, 2080Ti</span> /
            <span>RTX 2070, 2070Ti</span> /
            <span>Card Màn Hình MSI</span> /
            <span>Card Màn Hình ASUS</span> /
            <span>Card Màn Hình GIGABYTE</span> /
            <span>Card Màn Hình GALAX</span> /
            <span>Tản Nhiệt</span> /
            <span>RGB</span> /
            <span>Tản Nhiệt Khí</span> /
            <span>Quạt - Fan Case</span> /
            <span>Tản Nhiệt Nước</span> /
            <span>Linh Kiện Custom</span> /
            <span>Ổ Đĩa Quang gắn ngoài</span> /
            <span>Máy tính đồng bộ</span> /
            <span>Văn phòng</span> /
            <span>Thư ký, xử lý dữ liệu</span> /
            <span>Marketing, lập trình</span> /
            <span>Kế toán, sale online</span> /
            <span>Thu ngân, lễ tân</span> /
            <span>Giải trí</span> /
            <span>Lướt web, Facebook</span> /
            <span>Game online, game nhẹ</span> /
            <span>Giải trí cao cấp, multimedia</span> /
            <span>Gaming</span> /
            <span>LOL</span> /
            <span>Fortnite, FO4</span> /
            <span>PUBG</span> /
            <span>Đồ họa</span> /
            <span>Dựng, render video</span> /
            <span>3D, render mô hình</span> /
            <span>Đồ họa phổ thông</span> /
            <span>Máy Tính Bàn Doanh nghiệp</span> /
            <span>Máy Tính Bàn Nhân Viên</span> /
            <span>Máy Tính Bàn Quản Lý Cấp Cao</span> /
            <span>Máy Tính Bàn Lắp Sẵn</span> /
            <span>Máy Tính Bàn Phong Vũ</span> /
            <span>Máy Tính Bàn Dell</span> /
            <span>Dell Vostro 3670 MT</span> /
            <span>Máy Tính Bàn HP</span> /
            <span>Máy Tính Bàn Lenovo</span> /
            <span>Máy Tính Bàn Asus</span> /
            <span>Máy Tính Bàn Acer</span> /
            <span>Máy Tính Bàn iMac</span> /
            <span>Máy Tính Bàn Gía Rẻ</span> /
            <span>Máy Tính Bàn AIO</span> /
            <span>Cao cấp, multimedia</span> /
            <span>Kế toán, sale online</span> /
            <span>Thu ngân, lễ tân</span>
          </div>
        </div>
        <!-- /main-foter -->
      
        <div class="row footer-bottom-block">
        
          <div class="footer-company">
            <h4>Công ty cổ phần thương mại dịch vụ Phong Vũ</h4>
            <p>© 1997 - 2019 Công Ty Cổ Phần Thương Mại - Dịch Vụ Phong Vũ / GPĐKKD số 0304998358 do Sở KHĐT TP.HCM cấp</p>
          </div>
        
          <div class="footer-address">
            <div class="footer-address-section">
              <p>
                <span>Văn phòng điều hành miền Bắc:</span>
                Tầng 6, Số 1 Phố Thái Hà, Phường Trung Liệt, Quận Đống Đa, Hà Nội
              </p>
            </div>
            <div class="footer-address-section">
              <p>
                <span data-v-27c88369="">Văn phòng điều hành miền Nam:</span>
                Tầng 7, tòa nhà số 198 Nguyễn Thị Minh Khai, Phường 6, Quận 3, TP. Hồ Chí Minh
              </p>
            </div>
          </div>
      
        </div>
      
      </div>
      
      