<div class="formAdd">
    <h2 style="color:red;">THÊM THÔNG TIN SẢN PHẨM</h2>
  <form>
      <div class="row">
          <label for="ID">ID:</label>
          <input type="text" class="txt" placeholder="ID" required>
      </div>
  
      <div class="row">
          <label for="TITLE">TITLE:</label>
          <input type="text" class="txt" placeholder="TITLE" required>
      </div>
  
      <div class="row">
          <label for="IMAGE">IMAGE:</label>
          <input class="txt" type="file" id="exampleInputFile">
      </div>
  
      <div class="row">
          <label for="PRICE">PRICE:</label>
          <input type="text" class="txt" placeholder="PRICE" required>
      </div>
  
      <div class="row">
          <label for="QUANTITY">QUANTITY:</label>
          <input type="text" class="txt" placeholder="QUANTITY" required>
      </div>
  
      <div class="row">
          <label for="IS_ACTIVE">IS_ACTIVE:</label>
          <select class="txt" name="" id="">
              <option value="true"> True </option>
              <option value="false"> False </option>
          </select>
      </div>
  
      <div class="row">
          <label for="CATEGORY">CATEGORY:</label>
          <input type="text" class="txt" placeholder="CATEGORY" required>
      </div>
  
      <div class="row">
          <label for="STASTUS">STASTUS:</label>
          <input type="text" class="txt" placeholder="STASTUS" required>
      </div>
  
      <div class="row">
          <label for="DISCOUNT">DISCOUNT:</label>
          <input type="text" class="txt" placeholder="DISCOUNT" required>
      </div>
    
      <div class="submit"> 
        <div class="submit-agileits">
            <input type="submit" value="Thêm Sản Phẩm">
        </div>
      </div>
    
      
  </form>
</div>
