<div>
<div class="container-pan">

  <div class="pan-all-all">

    <div class="pan-all-logo">
      <div class="pan-logo">
        <label>
          <img src="https://phongvu.vn/media/wysiwyg/logo-PV-new_2.png">
        </label>
      </div>
    </div>

    <div class="pan-inputt">
      <div class="pan-input-one">
        <input placeholder="Nhập tên sản phẩm, mã sản phẩm, từ khóa cần tìm...">
      </div>
      <!-- <div class="pan-input-impac">
        <a>
          <img src="./../../assets/image/icon_search.png">
        </a>
      </div> -->
    </div>
        
    <div class="pan-right-all">
      <div class="pan-right-one">
        <div  class="pan-right-one-img">
            <a>
              <img src="./../../../assets/image/discount.png">
            </a>
        </div>
        <div class="pan-right-one-span">
            <span>Chương trình khuyến mãi</span>
        </div>
        
      </div>

      <div class="pan-right-two">
        <div  class="pan-right-two-img" [routerLink]="[ '/login-admin']">
          <a>
            <img src="./../../../assets/image/account.png">
          </a>
        </div>
        <div class="pan-right-two-span">
          <span>Đăng nhập<br> ADMIN</span>
        </div>
      </div>

      <div class="pan-right-there">
        <div  class="pan-right-there-img">
          <a>
            <img src="./../../../assets/image/shipping.png">
          </a>
        </div>
        <div class="pan-right-there-span">
            <span>Kiểm tra <br>đơn hàng</span>
        </div>
      </div>

      <div class="pan-right-four">
        <div  class="pan-right-four-img">
          <a>
            <img src="./../../../assets/image/cart.png">
          </a>
        </div>
      </div>
    </div>
  </div>

    
  <div class="pan-bot-all">
    <div class="pan-bot-v">

    </div>
    <div class="pan-bot">
        <div class="pan-bot-a">
          <div class="pan-bot-a-img">
            <a>
              <img src="./../../../assets/image/down.png">
            </a>
          </div>
          <div class="pan-bot-a-span">
            <span>Sản phẩm vừa xem</span>
          </div>
        </div>

        <div class="pan-bot-a">
          <div class="pan-bot-b-img">
            <a>
              <img src="./../../../assets/image/building.png">
            </a>
          </div>
          <div class="pan-bot-a-span">
            <span>Hệ thống Showroom</span>
          </div>
        </div>

        <div class="pan-bot-b">
          <div class="pan-bot-a-img">
            <a>
              <img src="./../../../assets/image/phone.png">
            </a>
          </div>
          <div class="pan-bot-a-span">
            <span>1900 1835</span>
          </div>
        </div>

        <div class="pan-bot-c">
          <div class="pan-bot-a-img">
            <a>
              <img src="./../../../assets/image/wrench.png">
            </a>
          </div>
          <div class="pan-bot-a-span">
            <span>Kiểm tra bảo hành</span>
          </div>
        </div>

        <div class="pan-bot-d">
          <div class="pan-bot-a-img">
            <a>
              <img src="./../../../assets/image/notification.png">
            </a>
          </div>
          <div class="pan-bot-a-span">
            <span>Thông báo</span>
          </div>
        </div>

        <div class="pan-bot-e">
          <div class="pan-bot-a-img">
            <a>
              <img src="./../../../assets/image/build.png">
            </a>
          </div>
          <div class="pan-bot-a-span">
            <span>Xây dựng cấu hình</span>
          </div>
        </div>
    </div>
  </div>
</div>
</div>



<!-- headerBottom -->
<!-- <div class="headerBottom">
    <div class="container">
      <div class="col-md-8 pull-right">
        <div class="col-md">
          <i class="fas fa-angle-down"></i>
          <span>Sản phẩm vừa xem</span>
        </div>
        <div class="col-md">
          <i class="fas fa-hospital"></i>
          <span>Hệ thống Showroom</span>
        </div>
        <div class="col-md">
          <i class="fas fa-phone-volume"></i>
          <span>1900 1835</span>
        </div>
        <div class="col-md">
          <i class="fab fa-whmcs"></i>
          <span>Kiểm tra bảo hành</span>
        </div>
        <div class="col-md">
          <i class="fas fa-bell"></i>
          <span>Thông báo</span>
        </div>
        <div class="col-md">
          <i class="fas fa-desktop"></i>
          <span>Xây dựng cấu hình</span>
        </div>
      </div>
    </div>
  </div> -->
  <!--end headerBottom -->