
<div class="container-pan">

  <div class="pan-all-all">
    <div class="pan-all">
      <div class="pan-all-logo">
        <div class="pan-logo">
          <label>
            <img src="https://phongvu.vn/media/wysiwyg/logo-PV-new_2.png">
          </label>
        </div>
      </div>
  
      <div class="pan-right-all">
        <div class="pan-right-bad">
          <div class="pan-right-img">
            <a>
              <img src="./../../../assets/image/cart.png">
            </a>
          </div>
        </div>
        <div class="pan-right">
          <div class="pan-right-img">
            <a>
              <img src="./../../../assets/image/shipping.png">
            </a>
          </div>
          <div class="pan-right-span">
            <span>Kiểm tra <br>đơn hàng</span>
          </div>
        </div>
        <div class="pan-right">
          <div class="pan-right-img">
            <a [routerLink]="['/admin']">
              <img src="./../../../assets/image/account.png">
            </a>
          </div>
          <div class="pan-right-span">
            <span>Đăng nhập<br> ADMIN</span>
          </div>
        </div>
        <div class="pan-right">
          <div class="pan-right-img">
            <a>
              <img src="./../../../assets/image/discount.png">
            </a>
          </div>
          <div class="pan-right-span">
            <span>Chương trình khuyến mãi</span>
          </div>
        </div>
      </div>

      <div class="pan-inputt">
          <div class="pan-input-one">
            <input type="text" placeholder="Nhập tên sản phẩm, mã sản phẩm, từ khóa cần tìm...">
            <a class="search-btn"><i class="fab fa-sistrix"></i></a>
          </div>
        </div>
    </div>
  </div>
    
  <div class="pan-bot-all">
    <div class="pan-bot">
      <div class="pan-bot-l"></div>
      <div class="pan-bot-r">
        <div class="pan-bot-a">
          <div class="pan-bot-img">
            <a><img src="./../../../assets/image/down.png"></a>
          </div>
          <div class="pan-bot-span">
            <span>Sản phẩm vừa xem</span>
          </div>
        </div>

        <div class="pan-bot-a">
          <div class="pan-bot-img">
            <a><img src="./../../../assets/image/building.png"></a>
          </div>
          <div class="pan-bot-span">
            <span>Hệ thống Showroom</span>
          </div>
        </div>

        <div class="pan-bot-a">
          <div class="pan-bot-img">
            <a>
              <img src="./../../../assets/image/phone.png">
            </a>
          </div>
          <div class="pan-bot-span">
            <span>1900 1835</span>
          </div>
        </div>

        <div class="pan-bot-a">
          <div class="pan-bot-img">
            <a>
              <img src="./../../../assets/image/wrench.png">
            </a>
          </div>
          <div class="pan-bot-span">
            <span>Kiểm tra bảo hành</span>
          </div>
        </div>

        <div class="pan-bot-a">
          <div class="pan-bot-img">
            <a>
              <img src="./../../../assets/image/notification.png">
            </a>
          </div>
          <div class="pan-bot-span">
            <span>Thông báo</span>
          </div>
        </div>

        <div class="pan-bot-a">
          <div class="pan-bot-img">
            <a>
              <img src="./../../../assets/image/build.png">
            </a>
          </div>
          <div class="pan-bot-span">
            <span>Xây dựng cấu hình</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>


