
<div class="panel panel-default" style="background: rgba(255, 255, 255, 0.07);">
      <div class="panel-heading" style="background: rgba(212, 73, 73, 0.5); color:aquamarine;">
        <h2  id="nameForm">QUẢN LÝ DANH SÁCH CÁC SẢN PHẨM</h2>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>TITLE</th>
                    <th>IMAGES</th>
                    <th>PRICE</th>
                    <th>QUANTITY</th>
                    <th>IS_ACTIVE</th>
                    <th>CATEGORY</th>
                    <th>STASTUS</th>
                    <th>DISCOUNT</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of _products.docs">
                    <td> <p id="name">{{ item.title }}</p> </td>
                    <td> <img [src]=" item.images"> </td>
                    <td> <p>{{ item.price | currency:'VND' }}</p> </td>
                    <td> <p>{{ item.quantity }}</p> </td>
                    <td> <p>{{ item.is_active }}</p> </td>
                    <td> <p>{{ item.category }}</p> </td>
                    <td> <p>{{ item.status }}</p> </td>
                    <td> <p>{{ item.discount }}</p> </td>
                    <td> <p><button type="button" class="btn btn-success"> <a [routerLink]="[ '/admin/edit', item.id ]">Edit</a></button> | 
                         <button type="button" class="btn btn-primary">Disable</button></p></td>
                </tr> 
            </tbody>
        </table>
        
        <div class="button">
            <button type="button" class="btn btn-danger" [routerLink]="['add']">--- Thêm Sản Phẩm ---</button>
        </div>
      </div>
</div>