table {
    border: 2px solid blue;
    background-color: white;
}
.table > thead > tr {
    background-color: aquamarine;
}   
th {
    border: 2px solid blue;
    text-align: center;     
}
td {
    border: 2px solid blue;
    text-align: center; 
    font-size: 16px;  
}
    td > img {
        width: 150px;
        height: 100px;
    }
