/* bannerNav */
#bannerNav{
	margin-top:0.3em;
	border: 1px solid red;
}
#bannerNav .container{
	min-width:90%;
}
.bannerNav-left{
	background:rgb(248, 248, 248);
	padding-top:1px;
	padding-bottom:1px;
	border: 1px solid rebeccapurple;
}
.navPrimaryOne{
	list-style-type: none;
}
.navPrimaryOne li{
	line-height:2.0em;
	cursor: pointer;
	font-size: 13px;
}
	li:hover{
		color: red;
	}

.bannerNav-center{
	width: 650px;
	padding:5px;
	border: #D42333 1px solid;
	
}
.bannerSlider-button{
	display:flex;
	background:white;
}
.bannerSlider-button a{
	flex:1;
	font-size:14px;
	font-weight:600;
	cursor: pointer;
	text-align:center;
	padding:2%;
	background:none;
	border:none;
	text-decoration:none;
	color:black;
	display: block;
	-webkit-transition: all 0.2s;
	   -moz-transition: all 0.2s;
	    -ms-transition: all 0.2s;
	     -o-transition: all 0.2s;
	        transition: all 0.2s;
}
.bannerSlider-button a:focus{
	outline:none;
	background:#EAEAEA;
	border-bottom: 2px solid #D42333;
}
.bannerNav-right{
	padding:0px;
	display:flex;
	flex-direction: column;
	margin-left: 2px;

}
.bannerNav-right div{
	flex:1;
}
/* end bannerNav */
