.container-pan{
    width : 100%;
    height: 120px;
    /* border: 1px solid red; */
    margin-bottom: 10px;
    margin-top: -24px;
    font-family: Arial, Helvetica, sans-serif;
}

.pan-all-all{
    width: 100%;
    height: 80px;
    background-color:rgb(43, 50, 120);
}

.pan-all-logo{
    width : 20%;
    height: 80px;
    /* border: 1px solid white; */
    float: left;
}   
    .pan-logo > label > img{
        width: 77px;
        height: 75px;
        margin-top: 1px;
        margin-left: 153px;
    }

.pan-input{
    width: 35%;
    height: 80px;
 
    float: left;
}
    .pan-input-one > input{
        background: #fff;
        border: 0;
        border-radius: 2px;
        font-size: 12px;
        height: 40px;
        padding: 5px 40px 5px 15px;
        width: 95%;
        margin-top:18px;
        float: left;

    }
    /* .pan-input-impac{
        height: 39px;
        width : 10%;
        float: left;
        margin-top: 19px;
        background-color: white;
    }
        .pan-input-impac > a > img{
            padding: 5px;
            width: 50px;
            height: 50px;
        } */

.pan-right-all{
    width: 45%;
    height: 80px;
    /* border: 1px solid gold; */
    float: left;
    line-height: 1.1;
    font-family: Roboto,sans-serif;
    cursor: pointer;
}
    .pan-right-one{
        width: 24%;
        height: 80px;
        /* border: 1px solid black; */
        float: left;
    }
        .pan-right-one-img{
            width : 40%;
            height: 80px;
            /* border: 1px solid red; */
            float: left;
        }
            .pan-right-one-img > a > img{
                width: 37px;
                height: auto;
                margin-top: 20px;   
                margin-left: 15px; 
            }
        .pan-right-one-span{
            width: 60%;
            height: 50px;
            /* border: 1px solid red; */
            float: left;
            margin-top: 19px;
            text-align: left;
        }   
            .pan-right-one-span > span{
                top: 100px;
                color: #fff;
                font-size: 13px;
            }

    .pan-right-two{
        width: 24%;
        height: 80px;
        /* border: 1px solid wheat; */
        float: left;
    }
        .pan-right-two-img{
            width : 40%;
            height: 80px;
            /* border: 1px solid red; */
            float: left;
        }
            .pan-right-two-img > a > img{
                width: 35px;
                height: auto;
                margin-top: 20px;   
                margin-left: 15px; 
            }
            .pan-right-two-span{
                width: 60%;
                height: 50px;
                /* border: 1px solid red; */
                float: left;
                margin-top: 19px;
                text-align: left;
            }   
                .pan-right-two-span > span{
                    top: 100px;
                    color: #fff;
                    font-size: 13px;
                }

    .pan-right-there{
        width: 24%;
        height: 80px;
        /* border: 1px solid black; */
        float: left;
    }
    .pan-right-there-img{
        width : 40%;
        height: 80px;
        /* border: 1px solid red; */
        float: left;
    }
        .pan-right-there-img > a > img{
            width: 50px;
            height: 60px;
            margin-top: 8px;   
            margin-left: 5px; 
        }
        .pan-right-there-span{
            width: 60%;
            height: 50px;
            /* border: 1px solid red; */
            float: left;
            margin-top: 19px;
            text-align: left;
        }   
            .pan-right-there-span > span{
                color: #fff;
                font-size: 13px;
            }

    .pan-right-four{
        width: 28%;
        height: 80px;
        /* border: 1px solid wheat; */
        float: left;
    }
        .pan-right-four-img > a > img{
            width: 40px;
            height: 50px;
            margin-top: 15px;   
            margin-left: 23px; 
        }

    
    






.pan-bot-all{
    width: 100%;
    height: 40px;
    background-color: #b3d4fc;
    cursor: pointer;
    /* background-color:whitesmoke; */
}
    .pan-bot-v{
        width: 30%;
        height: 40px;
        /* border: 1px solid black; */
        float: left;
    }       

    .pan-bot{
        width : 70%;
        height: 40px;
        /* border: 1px solid black; */
        float: left;
    }

        .pan-bot-a{
            width : 15%;
            height: 40px;
            /* border: 1px solid black; */
            float: left;
        }   
            .pan-bot-a-img{
                width: 15%;
                height: 40px;
                /* border: 1px solid gold; */
                float: left;
            }
                .pan-bot-a-img > a > img{
                    width :13px;
                    height: 13px;
                    margin-left: 2px;
                    margin-top:10px;
                }
            .pan-bot-a-span{
                width: 85%;
                height: 35px;
                /* border: 1px solid red; */
                float: left;
                margin-top: 5px;
            }
                .pan-bot-a-span > span{
                    font-size: 12px;    
                }
                

        .pan-bot-b{
            width : 13%;
            height: 40px;
            /* border: 1px solid black; */
            float: left;
        }
            .pan-bot-b-img > a > img{
                width :18px;
                height: 20px;
                margin-left: 2px;
                margin-top:10px;
                float: left;
            }
        .pan-bot-c{
            width : 15%;
            height: 40px;
            /* border: 1px solid black; */
            float: left;
        }
        .pan-bot-d{
            width : 15%;
            height: 40px;
            /* border: 1px solid black; */
            float: left;
        }
        .pan-bot-e{
            width : 15%;
            height: 40px;
            /* border: 1px solid black; */
            float: left;
        }

        span:hover{
            color:red;
        }



