#product-detail-all{
    width : 1200px;
    margin: auto;
    height: auto;
    margin-top : 10px;
    margin-bottom : 10px;
}

.detail-full-in{
    width:100%;
    height: 650px;
}

.detail-left{
    width : 40%;
    height: auto;
    float: left;
}
.image-detail {
    width: 85%;
    margin: 0 auto;
}
    .image-detail > img{
        width: 400px;
        height: 400px;
    }
    .detail-left-botimg{
        width : 100%;
        height: 70px;
    }
    .bot-img{
        width : 20%;
        float: left;
    }
        .bot-img:hover{
            border: 2px solid red;
        }
        .bot-img > img {
            width : 66px;
            height: 66px;
            margin-left: 7px;
        }
    
.detail-left-text{
    width : 100%;
}
    .format{
        padding-left: 20px;
        line-height: 1em;
        font-size: 12px;
    }
        .format span {
            font-size: 13px;
            font-weight: bold;
        }

 /* col-right */
.detail-right{  
    width : 60%;
    float: left;
}
    .title h4{
        font-size: 20px;
        line-height: 1.4em;
    }
    .start i{
        margin-top: 6px;
        color:#ffc120;
        padding: 2px;
    }
    .span-XDG{
        margin-left: 15px;
        padding: 5px;
        color: #666;
        font-weight: 500;
        font-size: 12px;
        font-weight: bold;
        background: #e9e9e9;
        padding: 2px;
    }

    .onl-price{
        width : 100%;
        padding: 5px;
    }
    .onl-price-detail{
        padding:10px; 
        background:url(./../../../assets/background-images/background-price-detail.jpg) no-repeat 0px 0px;
        background-size:cover;
        }
        .price-detail {
            line-height: 1.5em;
        }
        .price-detail p{
            font-size: 14px;
        }
        .name-price {
            width: 180px;
            float: left;
        }

    .discount {
        float: left;
        width: 40px;
        height: 30px;
        padding-left: 10px;
        padding-top: 5px;
        background: #f98d00;
        color: #fff;
        border-radius: 2px;
        font-size: 12px;
        margin-right: 70px;
    }
    .image-thumb > img{
        width: 28px;
        padding-right: 10px;
    }
   

.transport{
    width : auto;
    height: 80px;
}
.onl-add-button{
    width:100%;
    height: 80px;
}
    .onl-add-button-left{
        width:20%;
        height: 80px;
        float: left;
    }
        .onl-add-button-left p{
            color: #666;
            font-size: 13px;
        }

    .onl-add-button-right{
        width: 80%;
        height: 80px;
        float: left;
    }
        .button-plus{
            float: left;
            width:auto;
            color: #666;
            font-size: 13px;
           
        }
        .button-minus{
            float: left;
            width:auto;
            color: #666;
            font-size: 13px;
        }
        .button-mid{
            color: #666;
            font-size: 13px;
        }
            .button-mid input{
                float: left;
                width:24px;
                height: 24px;
            }

.two-button{
    width: 100%;
    height: 80px;
}
    .button-one{
        width : 25%;
        height: 80px;
        float: left;
        padding-top: 17px;
    }
        .button-one button{
            background-color: #d10a00 !important;
            border-color: #d10a00 !important;
            color: #fff;
            border-radius: 2px 2px 2px 2px;
            padding:9px 9px;
            text-align: center;
            font-weight: bold;
            width : 90%;
        }
    .button-two{
        width : 50%;
        height: 80px;
        float: left;
        padding-top: 17px;
    }
        .button-two button{
            background-color: #fff !important;
            border-color: red !important;
            color: #d10a00;
            border-radius: 2px 2px 2px 2px;
            padding:9px 9px;
            text-align: center;
            font-weight: bold;
            width : 70%;
        }
        .button-two img{
            width: 20px;
            height: auto;
            margin-right: 3px;
        }
    .button-three{
        width : 25%;
        height: 80px;
        float: left;
        padding-top: 17px;
        cursor: pointer;
    }
        .button-three img{
            width: 30px;
            height: auto;
            margin-right: 3px;
        }
        .button-three a{
            text-decoration: none;
            color: gray;
            font-weight: bold;
        }
        .button-three-border{
            border: 1px solid rgb(182, 181, 181);
            padding: 5px;
        } 
/*--------------------------*/

