<div id="product-detail-all">
    <div class="detail-full-in">
        <div class="detail-left">          <!--khung trái-->
      
          <div class="detail-left-topimg"> <!--hình TV lớn-->
            <a>
                <img src="./../../../assets/img/TV/tv37.jpg">
            </a>
          </div> 
      
          <div class="detail-left-botimg"> <!--các hình nhỏ-->           
            <div class="bot-img-one"> <img src="./../../../assets/img/TV/tv37.jpg"> </div>
              
            <div class="bot-img-two"> <img src="./../../../assets/img/TV/tv-1.jpg"> </div>  

            <div class="bot-img-three"> <img src="./../../../assets/img/TV/tv-2.jpg"></div>

            <div class="bot-img-four"> <img src="./../../../assets/img/TV/tv-3.jpg"></div>

            <div class="bot-img-five"> <img src="./../../../assets/img/TV/tv-4.jpg"></div>         
          </div>

          <div class="detail-left-text">
              <p><b>Mô tả</b></p>
              <p><b>Tên sản phẩm: Tivi LED SHARP 32 Inch LC-32LE280X</b></p>
              <span class="format">
                <p>- Kích thước: 32"</p>
                <p>- Độ phân giải: 1366 x 768 ( HD )</p>
                <p>- Kết nối mạng: Không có</p>
                <p>- Cổng xuất hình: 2 x HDMI</p>
              </span>
          </div>

          <div class="button-them">
            <button>ĐỌC THÊM</button>
          </div>
      
        </div>
      
          <!--------------------->  
        <div class="detail-right">         <!--khung phải-->
          <div class="title">
            <h4>Smart Tivi Samsung Full HD 40 inch UA40J5250D (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</h4>
          </div>

          <span style="color:#999; font-size:12px;">SKU: 1808138</span>

          <p class="start">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <span style="margin-left:15px;"><b>5</b> / 5</span>
            <span class="span-XDG">XEM ĐÁNH GIÁ</span>
          </p>

          <div class="onl-price-all">
            <div class="onl-price-top">
              <div class="price-top-left">
                <p>Giá bán lẻ</p>
                <p>Giá khuyến mãi</p>
                <p>Giá tốt Online</p>
              </div>
                  
              <div class="price-top-right">
                <p style="font-size:20px; text-decoration:line-through; color:grey;">10.190.000đ</p>
                <p style="font-size:16px; color: #333; "><b>6.390.000đ</b></p>
                <span class="on-spann">6.023.000đ</span> <span class="on-span"> (sau khi áp dụng đầy đủ cộng dồn khuyến mãi bên dưới)</span>
              </div>
            </div>

            <div  class="onl-price-bot">
                <div class="price-bot-left">
                  <p>Khuyến mãi</p>
                </div>
                    
                <div class="price-bot-right">
                    <p><span class="discount-tag">-50K</span>
                      <span class="tag-text-one">Nhập mã <b>XUANTV50</b> giảm <b>50.000đ</b></span>
                    </p>
                    <p><span class="discount-tag">-5%</span> 
                        <span class="tag-text-two">Giảm thêm <b>10% tối đa 200K</b> khi nhập mã <b>VNPAY10</b> hoặc <b>5% tối đa 500K</b></span>
                        <span class="tag-text-three">  khi nhập mã <b>VNPAYQR5</b> <a style="text-decoration:none; cursor: pointer;"> Xem chi tiết tại đây</a></span>
                    </p>
                </div>
            </div>  
          </div>
          <div class="transport">
            <div class="transport-left">
              <p>Vận chuyển</p>
            </div>
            <div class="transport-right">
              <img src="./../../../assets/img/icon/408289_thumb.png">
              <span><b>Miễn phí vận chuyển</b> (với đơn hàng trên 500.000đ)</span>
            </div>
          </div>

          <div class="onl-add-button">
            <div class="onl-add-button-left">
              <p>Chọn số lượng</p>
            </div>
            <div class="onl-add-button-right">
              <div class="button-plus">
                <button> + </button>
              </div>

              <div class="button-mid">
                <input type="text" placeholder="1" style="text-align:center; font-weight:bold;">
              </div>

              <div class="button-minus">
                <button> - </button>
              </div>
            </div>
          </div>

          <div class="two-button">
            <div class="button-one">
              <button>MUA NGAY</button>
            </div>

            <div class="button-two">
              <button><img src="./../../../assets/img/icon/Cart-icon.png">THÊM VÀO GIỎ HÀNG</button>
            </div>

            <div class="button-three">
              <div class="button-three-border">
                <a>
                  <span><img src="./../../../assets/img/icon/img_mess.png">CHAT NGAY</span>
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
