<div id="product-detail-all">
  <div class="detail-full-in">
    <div class="detail-left">
      <!--khung trái-->
      <div class="image-detail">
        <img [src]="_products.images ? _products.images : ''">
      </div>
      <div class="detail-left-botimg">
        <!--các hình nhỏ-->
        <div class="bot-img"> <img [src]="_products.images ? _products.images : ''"></div>
        <div class="bot-img"> <img src="./../../../assets/img/TV/tv-1.jpg"></div>
        <div class="bot-img"> <img src="./../../../assets/img/TV/tv-2.jpg"></div>
        <div class="bot-img"> <img src="./../../../assets/img/TV/tv-3.jpg"></div>
        <div class="bot-img"> <img src="./../../../assets/img/TV/tv-4.jpg"></div>
      </div>

      <div class="detail-left-text">
        <h4>Thông tin sản phẩm</h4>
        <div class="format">
          <p><span>Tên sản phẩm:</span> {{ _products.title }} </p>
          <p><span>Sản phẩm:</span> {{ _products.category }} </p>
          <p><span>Xuất sứ:</span></p>
          <p><span>Khối lượng:</span></p>
          <p><span>Trạng thái sản phẩm: </span>{{ _products.status }}</p>
        </div>
      </div>
    </div>
    <!--------------------->
    <div class="detail-right">
      <!--khung phải-->
      <div class="title">
        <h4>{{ _products.title }}</h4>
      </div>

      <p class="start">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <span style="margin-left:15px;"><b>5</b> / 5</span>
        <span class="span-XDG">XEM ĐÁNH GIÁ</span>
      </p>

      <div class="onl-price">
        <div style="padding:10px; background-image: url(&quot;https://phongvu.vn/images/price-desktop-bg.jpg&quot;);">

          <div class="price-detail">
            <p class="name-price">Giá bán lẻ</p>
            <p style="text-decoration: line-through;">16.390.000đ</p>
          </div>

          <div class="price-detail">
            <p class="name-price">Giá Flash Sale</p>
            <p style="font-weight: bold;">13.790.000đ</p>
          </div>

          <div class="price-detail">
            <p class="name-price">Giá tốt Online</p>
            <p><span style="color: red; font-weight: bold;">13.290.000đ</span> <span> (Giá sau khi áp dụng đầy đủ cộng
                dồn khuyến mãi bên dưới)</span></p>
          </div>

          <hr />

          <div class="price-detail">
            <p class="name-price">Khuyến mãi</p>
            <div class="discount">-5%</div>
            <p>
              Giảm thêm <b>10% tối đa 200K</b> khi nhập mã <b>VNPAY10</b> hoặc <b>5% tối đa 500K</b> khi nhập mã
              <b>VNPAYQR5</b>
              <a>Xem chi tiết tại đây </a>
            </p>
          </div>
          <div class="price-detail">
            <p class="name-price">Tình trạng sản phẩm</p>
            <p style="color: red; font-weight: bold;">Còn hàng</p>
          </div>
        </div>
        <div style="padding:10px;" class="price-detail">
            <p class="name-price">Vận chuyển</p>
            <div class="image-thumb">
              <img src="./../../../assets/img/icon/408289_thumb.png">
              <span><b>Miễn phí vận chuyển</b> (với đơn hàng trên 500.000đ)</span>
            </div>
        </div>
        <hr>

      </div>

      <div style="padding:10px;" class="transport">
        <div class="onl-add-button">
          <div class="onl-add-button-left">
            <p>Chọn số lượng</p>
          </div>
          <div class="onl-add-button-right">
            <div class="button-plus">
              <button> + </button>
            </div>

            <div class="button-mid">
              <input type="text" placeholder="1" style="text-align:center; font-weight:bold;">
            </div>

            <div class="button-minus">
              <button> - </button>
            </div>
          </div>
        </div>

        <div class="two-button">
          <div class="button-one">
            <button>MUA NGAY</button>
          </div>

          <div class="button-two">
            <button><img src="./../../../assets/img/icon/Cart-icon.png">THÊM VÀO GIỎ HÀNG</button>
          </div>

          <div class="button-three">
            <div class="button-three-border">
              <a>
                <span><img src="./../../../assets/img/icon/img_mess.png">CHAT NGAY</span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>