
<!-- main -->
<div id="main">
		<div class="container">
			<!-- row one -->
			<div class="rowOne">
				<marquee>
					<a>Nhận bộ quà tặng cực chất khi mua ổ cứng gắn ngoài WD!</a>
					<a>Phong Vũ cùng Microsoft chung tay hỗ trợ doanh nghiệp Việt! Ưu đãi đến 2.500.000!</a>
				</marquee>
			</div><!-- /row one -->

			<!-- row two -->
			<div class="rowTwo">
				<div class="col-md-2 rowTwo-left">
          <img src="./assets/img/banner/san_tv.png">
					<!-- <p>Xem tất cả</p> -->
				</div>
				<div class="col-md-10 rowTwo-right">
					<div class="responsive rowTwoProduct-responsive"> 
						<div class="rowProduct-box">
							<img src="./assets/img/TV/tv2.jpg" class="img-responsive" alt="Image">
							<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
							<p class="price">6.690.000đ</p>
							<p class="priceOnline">5.025.500đ</p>
							<p class="start">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half-alt"></i>
							</p>
							<p class="gifts">
								<i class="fas fa-gifts"></i>
							</p>
							<div class="meter">
								<!-- <i class="fas fa-carrot"></i> -->
								<span>Còn lại: 2</span>
							</div>
						</div>

						<div class="rowProduct-box">
							<img src="./assets/img/TV/tv35.jpg" class="img-responsive" alt="Image">
							<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
							<p class="price">5.990.000đ</p>
							<p class="priceOnline">3.980.500đ</p>
							<p class="start">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half-alt"></i>
							</p>
							<p class="gifts">
								<i class="fas fa-gifts"></i>
							</p>
							<div class="meter">
								<!-- <i class="fas fa-carrot"></i> -->
								<span>Còn lại: 1</span>
							</div>
						</div>

						<div class="rowProduct-box">
							<img src="./assets/img/TV/tv26.jpg" class="img-responsive" alt="Image">
							<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
							<p class="price">16.890.000đ</p>
							<p class="priceOnline">12.000.000đ</p>
							<p class="start">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half-alt"></i>
							</p>
							<p class="gifts">
								<i class="fas fa-gifts"></i>
							</p>
							<div class="meter">
								<!-- <i class="fas fa-carrot"></i> -->
								<span>Còn lại: 3</span>
							</div>
						</div>

						<div class="rowProduct-box">
							<img src="./assets/img/TV/tv24.jpg" class="img-responsive" alt="Image">
							<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
							<p class="price">3.690.000đ</p>
							<p class="priceOnline">3.140.000đ</p>
							<p class="start">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half-alt"></i>
							</p>
							<p class="gifts">
								<i class="fas fa-gifts"></i>
							</p>
							<div class="meter">
								<!-- <i class="fas fa-carrot"></i> -->
								<span>Còn lại: 5</span>
							</div>
						</div>

						<div class="rowProduct-box">
							<img src="./assets/img/tvpro1.jpg" class="img-responsive" alt="Image">
							<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
							<p class="price">99.999.000đ</p>
							<p class="priceOnline">99.999.000đ</p>
							<p class="start">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half-alt"></i>
							</p>
							<p class="gifts">
								<i class="fas fa-gifts"></i>
							</p>
							<div class="meter">
								<!-- <i class="fas fa-carrot"></i> -->
								<span>Còn lại: 8</span>
							</div>
						</div>

						<div class="rowProduct-box">
							<img src="./assets/img/tvpro1.jpg" class="img-responsive" alt="Image">
							<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
							<p class="price">99.999.000đ</p>
							<p class="priceOnline">99.999.000đ</p>
							<p class="start">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half-alt"></i>
							</p>
							<p class="gifts">
								<i class="fas fa-gifts"></i>
							</p>
							<div class="meter">
								<!-- <i class="fas fa-carrot"></i> -->
								<span>Còn lại: 0</span>
							</div>
						</div>

						<div class="rowProduct-box">
							<img src="./assets/img/tvpro1.jpg" class="img-responsive" alt="Image">
							<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
							<p class="price">99.999.000đ</p>
							<p class="priceOnline">99.999.000đ</p>
							<p class="start">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half-alt"></i>
							</p>
							<p class="gifts">
								<i class="fas fa-gifts"></i>
							</p>
							<div class="meter">
								<!-- <i class="fas fa-carrot"></i> -->
								<span>Còn lại: 6</span>
							</div>
						</div>

						<div class="rowProduct-box">
							<img src="./assets/img/tvpro1.jpg" class="img-responsive" alt="Image">
							<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
							<p class="price">99.999.000đ</p>
							<p class="priceOnline">99.999.000đ</p>
							<p class="start">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half-alt"></i>
							</p>
							<p class="gifts">
								<i class="fas fa-gifts"></i>
							</p>
							<div class="meter">
								<!-- <i class="fas fa-carrot"></i> -->
								<span>Còn lại: 2</span>
							</div>
						</div>
						
						<div class="rowProduct-box">
							<img src="./assets/img/tvpro1.jpg" class="img-responsive" alt="Image">
							<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
							<p class="price">99.999.000đ</p>
							<p class="priceOnline">99.999.000đ</p>
							<p class="start">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half-alt"></i>
							</p>
							<p class="gifts">
								<i class="fas fa-gifts"></i>
							</p>
							<div class="meter">
								<!-- <i class="fas fa-carrot"></i> -->
								<span>Còn lại: 4</span>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /row two -->

			<!-- row three -->
			<div class="rowThree">
				<div class="col-md-2">
          <!-- <i class="fas fa-business-time"></i> -->
            <img src="./assets/img/flsale3.png" width="40px" height="40px">
            <br>
					<span><b>Giờ vàng giá sốc</b></span>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-2 rowThree-active">
					<h3>11:00</h3>
					<p>Đang diễn ra</p>
				</div>
				<div class="col-md-2">
					<h3>11:00</h3>
					<p>Sắp diễn ra</p>
				</div>
				<div class="col-md-2">
					<h3>11:00</h3>
					<p>Sắp diễn ra</p>
				</div>
				<div class="col-md-2">
					<h3>11:00</h3>
					<p>Ngày mai</p>
				</div>
			</div>
			<!-- /row three -->

			<!-- row four -->
			<div class="rowFour">
				<div class="responsive2 rowFourProduct-responsive">
					<div class="rowProduct-box">
						<img src="./assets/img/thietbi/lcd_hp.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">2.250.000đ</p>
						<p class="priceOnline">1.982.000đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
						<div class="meter">
							<!-- <i class="fas fa-carrot"></i> -->
							<span>Còn lại: 2</span>
						</div>
					</div>

					<div class="rowProduct-box">
						<img src="./assets/img/thietbi/tannhiet.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">2.250.000đ</p>
						<p class="priceOnline">2.005.000đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
						<div class="meter">
							<!-- <i class="fas fa-carrot"></i> -->
							<span>Còn lại: 2</span>
						</div>
					</div>

					<div class="rowProduct-box">
						<img src="./assets/img/thietbi/thungmay.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">275.000đ</p>
						<p class="priceOnline">242.100đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
						<div class="meter">
							<!-- <i class="fas fa-carrot"></i> -->
							<span>Còn lại: 2</span>
						</div>
					</div>

					<div class="rowProduct-box">
						<img src="./assets/img/thietbi/phone.png" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">890.000đ</p>
						<p class="priceOnline">776.700đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
						<div class="meter">
							<!-- <i class="fas fa-carrot"></i> -->
							<span>Còn lại: 2</span>
						</div>
					</div>

					<div class="rowProduct-box">
						<img src="./assets/img/thietbi/quat.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">2.190.000đ</p>
						<p class="priceOnline">2.000.000đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
						<div class="meter">
							<!-- <i class="fas fa-carrot"></i> -->
							<span>Còn lại: 2</span>
						</div>
					</div>

					<div class="rowProduct-box">
						<img src="./assets/img/TV/girltv.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">99.999.000đ</p>
						<p class="priceOnline">99.999.000đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
						<div class="meter">
							<!-- <i class="fas fa-carrot"></i> -->
							<span>Còn lại: 2</span>
						</div>
					</div>

					<div class="rowProduct-box">
						<img src="./assets/img/TV/girltv.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">99.999.000đ</p>
						<p class="priceOnline">99.999.000đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
						<div class="meter">
							<!-- <i class="fas fa-carrot"></i> -->
							<span>Còn lại: 2</span>
						</div>
					</div>

					<div class="rowProduct-box">
						<img src="./assets/img/TV/girltv.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">99.999.000đ</p>
						<p class="priceOnline">99.999.000đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
						<div class="meter">
							<!-- <i class="fas fa-carrot"></i> -->
							<span>Còn lại: 2</span>
						</div>
					</div>
					
					<div class="rowProduct-box">
						<img src="./assets/img/TV/girltv.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">99.999.000đ</p>
						<p class="priceOnline">99.999.000đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
						<div class="meter">
							<!-- <i class="fas fa-carrot"></i> -->
							<span>Còn lại: 2</span>
						</div>
					</div>
				</div>
			</div><!-- /row four -->

			<!-- row title -->
			<div class="rowTitle">
				<h2>Tivi giá tốt - chốt liền tay</h2>
				<p>Đừng vội mua TV nếu chưa xem giá tại Phong Vũ</p>
			</div>
			<!-- /row title -->

			<!-- row five -->
			<div class="rowFive">
				<div class="rowProduct-box rowProductBox-active">
					<img src="./assets/img/TV/tv26.jpg" class="img-responsive" alt="Image">
					<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
					<p class="price">22.899.000đ</p>
					<p class="priceOnline">13.999.000đ</p>
					<p class="start">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star-half-alt"></i>
					</p>
					<p class="gifts">
						<i class="fas fa-gifts"></i>
					</p>
				</div>
				<div class="rowProduct-box">
					<img src="./assets/img/TV/tv5.jpg" class="img-responsive" alt="Image">
					<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
					<p class="price">17.400.000đ</p>
					<p class="priceOnline">8.540.500đ</p>
					<p class="start">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star-half-alt"></i>
					</p>
					<p class="gifts">
						<i class="fas fa-gifts"></i>
					</p>
				</div>

				<div class="rowProduct-box">
					<img src="./assets/img/TV/tv27.jpg" class="img-responsive" alt="Image">
					<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
					<p class="price">17.900.000đ</p>
					<p class="priceOnline">9.690.000đ</p>
					<p class="start">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star-half-alt"></i>
					</p>
					<p class="gifts">
						<i class="fas fa-gifts"></i>
					</p>
				</div>

				<div class="rowProduct-box">
					<img src="./assets/img/TV/tv25.jpg" class="img-responsive" alt="Image">
					<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
					<p class="price">55.590.000đ</p>
					<p class="priceOnline">23.190.000đ</p>
					<p class="start">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star-half-alt"></i>
					</p>
					<p class="gifts">
						<i class="fas fa-gifts"></i>
					</p>
				</div>

				<div class="rowProduct-box">
					<img src="./assets/img/TV/girltv.jpg" class="img-responsive" alt="Image">
					<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
					<p class="price">20.900.000đ</p>
					<p class="priceOnline">12.090.000đ</p>
					<p class="start">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star-half-alt"></i>
					</p>
					<p class="gifts">
						<i class="fas fa-gifts"></i>
					</p>
				</div>
			</div><!-- /row five -->

			<!-- row six -->
			<div class="rowSix">
				<div class="rowSix-left">
					<h3>Bạn đang tìm tv nào?</h3>
					<ul class="rowSix-nav">
					    <li class="liActive">Tất cả</li>
					    <li>Màn hình cong</li>
					    <li>UHD 4K TV</li>
					    <li>QLED/OLED TV</li>
					    <li>Smart TV</li>
					    <li>Internet TV</li>
					    <li>LCD/LED TV</li>
					</ul>

					<!-- <a href="">Xem tất cả ></a> -->
				</div>
				<div class="rowSix-right">
					<div class="rowProduct-box">
						<img src="./assets/img/TV/tv18.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">69.900.000đ</p>
						<p class="priceOnline">42.190.000đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
					</div>
					<div class="rowProduct-box">
						<img src="./assets/img/TV/girltv.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">18.590.000đ</p>
						<p class="priceOnline">11.090.000đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
					</div>
					<div class="rowProduct-box">
						<img src="./assets/img/TV/tv19.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">79.900.000đ</p>
						<p class="priceOnline">49.190.000đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
					</div>
					<div class="rowProduct-box">
						<img src="./assets/img/TV/tv23.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">19.900.000đ</p>
						<p class="priceOnline">11.990.000đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
					</div>
				</div>
			</div><!-- /row six -->

			<!-- row banner -->
			<div class="rowBanner">
				<div>
					<img src="./assets/img/banner/banner12.jpg" class="img-responsive" alt="Image">
				</div>
				<div>
					<img src="./assets/img/banner/banner13.png" class="img-responsive" alt="Image">
				</div>
				<div>
					<img src="./assets/img/banner/banner14.jpg" class="img-responsive" alt="Image">
				</div>
			</div><!-- /row banner -->
				
			<!-- row title 2 -->
			<div class="rowTitle2">
				<div>
					<h3>
						<i class="fas">
            	<img src="./assets/img/new1.png" width="50" height="50">
						</i> 
							Hàng mới về </h3>
				</div>
				
				<div>
					<!-- <a href="">Xem tất cả ></a> -->
				</div>
			</div><!-- /row title 2 -->

			<!-- row seven -->
			<div class="rowSeven">
				<div class="responsive2 rowFourProduct-responsive">
					<div class="rowProduct-box">
						<img src="./assets/img/TV/girltv.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">20.900.000đ</p>
						<p class="priceOnline">12.090.000đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
						<div class="meter">
							<!-- <i class="fas fa-carrot"></i> -->
							<span>Còn lại: 2</span>
						</div>
					</div>

					<div class="rowProduct-box">
						<img src="./assets/img/TV/tv34.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">25.790.000đ</p>
						<p class="priceOnline">21.190.000đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
						<div class="meter">
							<!-- <i class="fas fa-carrot"></i> -->
							<span>Còn lại: 2</span>
						</div>
					</div>

					<div class="rowProduct-box">
						<img src="./assets/img/TV/tv29.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">8.990.000đ</p>
						<p class="priceOnline">7.495.500đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
						<div class="meter">
							<!-- <i class="fas fa-carrot"></i> -->
							<span>Còn lại: 2</span>
						</div>
					</div>

					<div class="rowProduct-box">
						<img src="./assets/img/TV/tv4.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">17.400.000đ</p>
						<p class="priceOnline">8.540.500đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
						<div class="meter">
							<!-- <i class="fas fa-carrot"></i> -->
							<span>Còn lại: 2</span>
						</div>
					</div>

					<div class="rowProduct-box">
						<img src="./assets/img/thietbi/balo.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">890.000đ</p>
						<p class="priceOnline">441.000đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
						<div class="meter">
							<!-- <i class="fas fa-carrot"></i> -->
							<span>Còn lại: 2</span>
						</div>
					</div>

					<div class="rowProduct-box">
						<img src="./assets/img/product1.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">99.999.000đ</p>
						<p class="priceOnline">99.999.000đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
						<div class="meter">
							<!-- <i class="fas fa-carrot"></i> -->
							<span>Còn lại: 2</span>
						</div>
					</div>

					<div class="rowProduct-box">
						<img src="./assets/img/product1.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">99.999.000đ</p>
						<p class="priceOnline">99.999.000đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
						<div class="meter">
							<!-- <i class="fas fa-carrot"></i> -->
							<span>Còn lại: 2</span>
						</div>
					</div>

					<div class="rowProduct-box">
						<img src="./assets/img/product1.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">99.999.000đ</p>
						<p class="priceOnline">99.999.000đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
						<div class="meter">
							<!-- <i class="fas fa-carrot"></i> -->
							<span>Còn lại: 2</span>
						</div>
					</div>
					
					<div class="rowProduct-box">
						<img src="./assets/img/product1.jpg" class="img-responsive" alt="Image">
						<p class="nameProduct">Smart Tivi LG 4K 49 inch 49UK6340PTF (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</p>
						<p class="price">99.999.000đ</p>
						<p class="priceOnline">99.999.000đ</p>
						<p class="start">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</p>
						<p class="gifts">
							<i class="fas fa-gifts"></i>
						</p>
						<div class="meter">
							<!-- <i class="fas fa-carrot"></i> -->
							<span>Còn lại: 2</span>
						</div>
					</div>
				</div>
			</div>
			<!-- /row seven -->
		</div>
	</div><!-- /main -->
